body {
    font-family: Arial, sans-serif;
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo img {
    width:300px; /* Adjust as needed */
    height:auto;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #9966CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

form button:hover {
    background-color: #C9A0DC ;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 26%; /* Ensure buttons are side by side */
}

.complete-btn,
.delete-btn {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make buttons take almost equal width, reducing space */
    box-sizing: border-box; /* Include padding in width calculation */
    text-align: center;
}

.complete-btn {
    background-color: green;
    color: white;
}

.complete-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: red;
    color: white;
}

.delete-btn:hover {
    background-color: #d9534f;
}

.completed {
    color: green;
    font-weight: bold;
}

.pending {
    color: red;
    font-weight: normal;
}
